@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter;
}

.container {
    padding: 1em 2em;
}
.container .d-flex {
    display: flex;
}
.container .fa {
    color: #fff;
    background-color: #060070;
    text-align: center;
    border-radius: 50%;
}
.container__content {
    border: 3px solid #eee;
    border-radius: 6px;
}
.container__content__left {
    width: 15%;
    background-color: #060070;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.container__content__right {
    padding: 1em;
    width: 85%;
}
.container__content__right .intro h2 {
    color: #060070;
    cursor: pointer;
}

.container__content__right .intro p.position {
    color: #0b067a;
    margin-top: 0.5em;
}
.container__content__right .intro p.bio {
    width: 90%;
    line-height: 1.4em;
    margin-top: 1em;
}
.container__content__right .intro .contacts {
    width: 50%;
    flex-wrap: wrap;
}
.container__content__right .intro .contacts__info {
    flex: 1 1 12em;
    gap: 0.5em;
    margin-top: 1em;
}
.container__content__right .intro .contacts__info .fa {
    color: #fff;
    background-color: #060070;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
}
.container__content__right .resume {
    margin-top: 1.5em;
}

.container__content__right .resume .dynamic-color {
    color: #0b067a;
}
.container__content__right .resume .fa {
    font-size: 1.2rem;
    width: 35px;
    height: 35px;
    padding-top: 0.4em;
}
.container__content__right .resume .line {
    height: 58.5em;
    width: 2px;
    background: #d1d6e6;
    margin-left: 0.97em;
    position: absolute;
    margin-top: 2.2em;
    z-index: -1;
}
.container__content__right .resume .category {
    gap: 1em;
    align-items: center;
}
.container__content__right .resume .title {
    width: 80%;
    gap: 1em;
}

.container__content__right .resume .title p.date {
    position: absolute;
    margin-top: 0.8em;
    margin-left: -6em;
    color: #fff;
}

.container__content__right .resume .title p.ml {
    margin-left: -10.5em;
}
.container__content__right .resume .title .dot {
    width: 4.5%;
}
.container__content__right .resume .title .dot p {
    color: #060070;
    text-align: center;
    font-size: 2rem;
}
.container__content__right .resume .title .description {
    width: 100%;
    margin: 0.8em 0 1em;
}
.container__content__right .resume .title .description ul {
    font-size: 1rem;
    margin-left: 1em;
    margin-top: 0.5em;
}

.ratings {
    position: absolute;
    right: 4em;
    margin-top: -2em;
}

p.rating-dot {
    display: inline;
    font-size: 2rem;
    margin-left: -0.15em;
}

p.rating-description{
    margin-top: -0.5em;
    text-align: right;
    font-size:0.8rem;
}

p.rating-dot-clear{
    color: #ccc;
}
